body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

/***** Icons *****/

.billIcon {
  width:50px;
  height:50px
}

.categoryIcon {
  width:50px;
  height:50px
}

/***** Bill *****/

.billHeader {
  display:flex
}

/***** NavBar *****/

#topBar {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background: orange;
}

#topBar > img {
  width:50px;
  height:50px;
  margin-right: 10px
}

/***** Footer *****/
#footer {
  display:flex;
  margin: 0 auto
}

#footer > img {
  width:25px;
  height:25px
}


#navigation {
  display: flex;
  background: orange;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
}

$disactive-button-color: #e6a62e;
$active-button-color: #4d00ff;

@mixin button($color){
  border: solid;
  border-width: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: $color;
}

.navigationButtonActive {
  @include button($active-button-color);
}

.navigationButtonDisactive {
  @include button($disactive-button-color);
}

